<div id="quiz-app">
    <!-- ko if: isIntroActive -->
    <div data-bind='component: { name: "intro", params: { showTest: showTest } }'></div>
    <!-- /ko -->
    <!-- ko if: isTestActive -->
    <div data-bind='component: { name: "test", params: { loading: loading, showSubmit: showSubmit, addUserAnswer: addUserAnswer } }'></div>
    <!-- /ko -->
    <!-- ko if: isSubmitActive -->
    <div data-bind='component: { name: "submit", params: { userAnswers: userAnswers, showFinish: showFinish } }'></div>
    <!-- /ko -->
    <!-- ko if: isFinishActive -->
    <div data-bind='component: { name: "finish" }'></div>
    <!-- /ko -->
</div>