<!DOCTYPE html>

<html>
<head>
    <title>FLS Tale Quiz!</title>
    <link rel="stylesheet" href="~/Content/css/jquery.modal.min.css"/>
    <link rel="stylesheet" href="~/Content/css/app.css"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/scripts/vendor/require.min.js"></script>
    <script src="~/scripts/apps/quiz/quiz.config.js"></script>
</body>
</html>