<!DOCTYPE html>

<html>
<head>
    <title>FLS Tale Quiz!</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @*<script src="~/scripts/vendor/jquery-3.3.1.min.js"></script>*@
    <script src="~/scripts/vendor/require.min.js"></script>
    <script src="~/scripts/apps/quiz/quiz.config.js"></script>
</body>
</html>