<div class="content-v-centered indent-b">
    <div class="bg-colored indent-all">
        <h2 class="centered-h">Привет, я кот FeLikS.</h2>
        <p>Живу в First Line Software, охраняю местных программистов.</p>
        <p>Проверь себя, отгадай мои которебусы и получи ништячок от моих ребят...</p>
        <p>Мяу :)</p>
        <div class="centered-h">
            <input readonly class="form-button" data-bind="click: startTestButtonClick" value="Начать" />
        </div>
    </div>
</div>