<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- replace on real values -->
  <add name="DataBase" connectionString="Data Source=.;Initial Catalog=database;Integrated Security=False;User ID=test;Password=test;Connect Timeout=10;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>