<div>
    <div>
        <div>Email<span>*</span></div>
        <input data-bind="value: email" />
        <div data-bind="validationMessage: email"></div>
    </div>
    <br />
    <div>
        <div>Name</div>
        <input data-bind="value: name" />
    </div>
    <br />
    <div>
        <div>Phone</div>
        <input data-bind="value: phone" />
    </div>
    <br />
    <div>
        <div>Comment</div>
        <input data-bind="value: comment" />
    </div>
    <br />
    <div>
        <input type="button" data-bind="enable: isReadyForSubmit, click: submitButtonClick" value="Submit" />
    </div>
</div>